/* Default styling for the poll as it appears on posts. */

#polling-place {
	background: #F6F6F6;
	text-align: center;
	padding: 10px 25px 20px;
	border: 1px solid #DDD;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin: 25px auto;
	width: 356px;
	overflow: hidden;
}

#polling-place #polling-label {
	text-align: center;
	margin-bottom: 10px;
}

#polling-percentage {
	background: #fff;
	float: left;
	margin: 0 15px;
	width: 200px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #DDD;
	line-height: 30px;
	font-size: 12px;
	color: #cacaca;
	overflow: hidden;
	height: 30px;
}

#percentage-filled {
	background: #1982D1;
	color: #fff;
	-moz-border-top-left-radius: 3px;
	border-top-left-radius: 3px;
	-moz-border-bottom-left-radius: 3px;
	border-bottom-left-radius: 3px;
	text-align: right;
	padding: 0 5px;
	line-height: 30px;
	min-width: 6% !important;
	-webkit-transition: .3s;
	-moz-transition: .3s;
	transition: .3s;
}

#polling-place a {
	background: #ffffff;
	color: #333;
	display: block;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #DDD;
	float: left;
	min-width: 60px;
	line-height: 30px;
}

#polling-place a.vote-not-selected {
	-webkit-transition: .3s;
	-moz-transition: .3s;
	transition: .3s;
	color: #DDDDDD;
	text-decoration: none !important;
	cursor: default !important;
}

#polling-place a.vote-selected {
	-webkit-transition: .3s;
	-moz-transition: .3s;
	transition: .3s;
	border: 1px solid #373737;
	text-decoration: underline;
	cursor: default !important;
}